body {
	background-color: #ffffff;
	height: 500px;
	height-max: 100%;
	width: 250px;
	margin: 0;
}

#toolbar {
	width: 100%;
	color: #ffffff;
	background-color: #006666;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

li {
	display: inline;
}

li:first-child {
	padding-left: 2.5%;
}

li:last-child {
	padding-right: 2.5%;
}

td:first-child {
	padding-left: 2.5%;
}

td:last-child {
	padding-right:2.5%;
}

#toolTitle {
	font-size: 2em;
	font-weight: bold;
}

.toolButton {
	width: 10%;
	text-align: center;
	float: right;
	font-size: 2em;
}
