body {
	background-color: #414452;
	height: 600px;
	width: 400px;
	margin-left: 2%;
	margin-right: 10%;
	color: white;
}

#toolbar {
	width: 100%;
	color: #ffffff;
	background-color: #3281ff;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	text-align: center;
	font-size: 150%;
	box-shadow: 0px 3px 4px grey;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

#tableTitle{
 text-align: center;
 font-size: 1.6em;
 background-color: #4286f4;
 /* color: white; */
 border-radius: 7px;
 padding-top: 4px;
 padding-bottom: 4px;
 /* text-shadow: 1px 3px 4px black; */
 /* border-style: solid; */
 /* border-width: thin; */
 border-radius: 30px 140px 30px 140px;
 width: 250px;
 margin: auto;
 margin-bottom: 20px;
}

#theScore{
	font-family: 'Open Sans', sans-serif;

}

li {
	line-height: 1.5em;
	font-size: 1.1em;
}

ol {
	margin-left: -25px;
	margin-top: -10px;
	font-size: 130%;
}

 a {
	 color: #477dd3;
 }

#toolTitle {
	padding-left: 2.5%;
}

#toolNumber {
	float: right;
	height: 100%;
	align-content: center;
}

#toolNumberDiv {
	padding-right: 2.5%;
	/* background-color: #FF5555; */
	text-align: center;
	font-size: 200%;

}

	#theScore {
		font-size: 200%;
		text-align: center;
	}

table{
	border-collapse: collapse;
	/* background-color: #6b6c70; */
}

	#t1 {
		padding: inherit;
		padding-left: 10px;
	}

#content {
		/* border: 1px solid white; */
		margin-left: 10px;
		margin-right: 10px;
	}

td {
	/* border: 1px solid white; */
	display: block;
	padding: 10px;
}

tr {
}

.article {
	display: block;
	padding-left: 2.5%;
	padding-right: 2.5%;
	text-decoration: none;
}

#toolTitle {
	font-size: 2em;
	font-weight: bold;
}

.toolButton {
	width: 10%;
	text-align: center;
	float: right;
	font-size: 2em;
}
